resources/schema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://validate.rmzfire.com" targetNamespace="http://validate.rmzfire.com" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:include schemaLocation="common.xsd" />
  <xs:include schemaLocation="recordHeader.xsd" />
  <xs:element name="NFIRSIncident">
    <xs:annotation>
      <xs:documentation>NFIRS Incident data generated by Starwest for data validation</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header">
          <xs:annotation>
            <xs:documentation>Incident Header Transaction</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:group ref="RecordHeader" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Basic">
          <xs:annotation>
            <xs:documentation>Basic Incident Transaction</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:group ref="RecordHeader" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Address">
          <xs:annotation>
            <xs:documentation>Incident Address Transaction</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:group ref="RecordHeader" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AidGivenAndReceived">
          <xs:annotation>
            <xs:documentation>Aid Given and Received Transaction</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:group ref="RecordHeader" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="OfficerInCharge">
          <xs:annotation>
            <xs:documentation>Officer in Charge Authority Transaction</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:group ref="RecordHeader" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ReportingMember">
          <xs:annotation>
            <xs:documentation>Member Making Report Authority Transaction</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:group ref="RecordHeader" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Remarks">
          <xs:annotation>
            <xs:documentation>Incident Remarks Transaction</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:group ref="RecordHeader" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PersonsInvloved">
          <xs:annotation>
            <xs:documentation>Incident Persons Involved Transactions</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:group ref="RecordHeader" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Owner">
          <xs:annotation>
            <xs:documentation>Incident Owner Transaction</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:group ref="RecordHeader" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SpecialStudies">
          <xs:annotation>
            <xs:documentation>Incident Special Studies Transactions</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:group ref="RecordHeader" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Fire">
          <xs:annotation>
            <xs:documentation>Fire Form Transaction</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:group ref="RecordHeader" />
              <xs:element name="FileAttached">
                <xs:annotation>
                  <xs:documentation>File Attached Transaction</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:group ref="RecordHeader" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="MobileProperty">
                <xs:annotation>
                  <xs:documentation>Fire Mobile Property Involved Transaction</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:group ref="RecordHeader" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="EquipmentInvloved">
                <xs:annotation>
                  <xs:documentation>Fire Equipment Involved Transaction</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:group ref="RecordHeader" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="StructureFire">
          <xs:annotation>
            <xs:documentation>Structure Fire Form Transaction</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:group ref="RecordHeader" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Wildland">
          <xs:annotation>
            <xs:documentation>Wildland Form Transaction</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:group ref="RecordHeader" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CivilianCasualty">
          <xs:annotation>
            <xs:documentation>Civilian Fire Casualty Transactions</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:group ref="RecordHeader" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="FireServiceCausualty">
          <xs:annotation>
            <xs:documentation>Fire Service Casualty Transactions</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:group ref="RecordHeader" />
              <xs:element name="EquipmentFailure">
                <xs:annotation>
                  <xs:documentation>Fire Service Equipment Failure Transactions</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:group ref="RecordHeader" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="EMSPatient">
          <xs:annotation>
            <xs:documentation>EMS Patient Transaction</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:group ref="RecordHeader" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="HazMat">
          <xs:annotation>
            <xs:documentation>HazMat Transaction</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:group ref="RecordHeader" />
              <xs:element name="Chemical">
                <xs:annotation>
                  <xs:documentation>HazMat Chemical Transactions</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:group ref="RecordHeader" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="MobileProperty">
                <xs:annotation>
                  <xs:documentation>HazMat Mobile Property Involved Transaction</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:group ref="RecordHeader" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="EquipmentInvloved">
                <xs:annotation>
                  <xs:documentation>HazMat Equipment Involved Transaction</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:group ref="RecordHeader" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Apparatus">
          <xs:annotation>
            <xs:documentation>Incident Apparatus Transactions</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:group ref="RecordHeader" />
              <xs:element name="Personnel">
                <xs:annotation>
                  <xs:documentation>Incident Personnel Transactions</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:group ref="RecordHeader" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Arson">
          <xs:annotation>
            <xs:documentation>Arson Transaction</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:group ref="RecordHeader" />
              <xs:element name="AgencyReferral">
                <xs:annotation>
                  <xs:documentation>Arson Agency Referral Transaction</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:group ref="RecordHeader" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="JuvenileSubject">
                <xs:annotation>
                  <xs:documentation>Arson Juvenile Subject Transactions</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:group ref="RecordHeader" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>